
<link href="https://fonts.googleapis.com/css2?family=Computer+Modern" rel="stylesheet">

<style>
.jp-MarkdownCell h1 {
    font-size: 34pt;
    color: #003366;
    border-bottom: 2px solid #003366;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.jp-MarkdownCell h2 {
    font-size: 20pt;
    color: #003366;
    margin-top: 15px;
    margin-bottom: 10px;
}

.jp-MarkdownCell h3 {
    font-size: 16pt;
    color: #003366;
    margin-top: 10px;
    margin-bottom: 5px;
}

.jp-MarkdownCell p {
    font-size: 14pt;
    /*font-family: 'Computer Modern', 'Latin Modern', serif;/**/
    color: #000000;
    text-align: justify;
    line-height: 1.5;
}

.jp-MarkdownCell li {
    font-size: 14pt;
    /*font-family: 'Computer Modern', 'Latin Modern', serif;/**/
    color: #000000;
    /*text-align: justify;*/
    /*line-height: 1.5;*/
}

.jp-CodeCell {
    background-color: #ffffff;
    /*border: 1px solid #eaeaea;*/
}

.jp-CodeMirrorEditor .CodeMirror {
    font-family: 'Consolas', monospace;
    font-size: 11pt;
    /*max-width: 994px; /* Setting max width for code editor */
    /*margin-left: 20px; /* Center align the editor */
}

.jp-RenderedText, .jp-OutputArea-output, .jp-CodeCell, .jp-MarkdownCell {
    
    max-width: 994px; /* A4 width in pixels */
    margin-left: 20px; /* Center align the block */
    /*margin-right: auto; /* Center align the block */
}

.jp-OutputArea-output img {
    max-width: 100%;
    height: auto;
}

.jp-RenderedHTMLCommon table {
    border-collapse: collapse;
    width: 100%;
}

.jp-RenderedHTMLCommon th, .jp-RenderedHTMLCommon td {
    border: 1px solid #dddddd;
    text-align: justify;
    padding: 8px;
}

.jp-RenderedHTMLCommon tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>